//Обнуление
*::before,*::after,*{margin: 0;padding:0;box-sizing: border-box;}
button:-moz-focus-inner{padding: 0;border: 0;}
a:active,,a:focus,input:focus,textarea:focus{outline: none;}
body{background: $bgc;font-family: $ff;}
section{overflow-x: hidden;width: 100%;}
button{cursor: pointer;outline:none;}
body.lock{overflow: hidden;}
a{text-decoration: none;}
ul li{list-style: none;}
html,body{height:100%;}
input{border: 0;}
hr{border: none;}