.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 65px 45px 0;
	z-index: 200;

	&__blur {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.2);
		backdrop-filter: blur(2px);
	}
	&__row {
		width: 100%;
		justify-content: space-between;
		nav {
			padding: 0 $mm;
			z-index: 80;
		}
	}

	&__column {
		position: relative;
		align-items: center;
	}

	&__item {
		margin: 0 42px 0 0;
		a {
			position: relative;
			padding: 0 0 4px;
			text-decoration: none;
			color: #fff;
			font-family: "ProximaNova";
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.45px;
			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);

				width: 0;
				height: 2px;
				border-radius: 2px;
				background-color: #fff;
				transition: width $as $es;
			}
			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
		&:last-child {
			margin: 0;
		}
	}

	&__cart {
		margin: 0 26px 0 0;
	}
}
.logo {
	color: #fff;
	font-family: "ProximaNova";
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	cursor: default;
}
.burger {
	position: relative;
	display: none;
	width: 40px;
	height: 32px;
	border: 0;
	background-color: transparent;
	
	&::after,&::before,span {
		position: absolute;
		right: 0;
		width: 100%;
		height: 2px;
		background-color: #fff;
		border-radius: 2px;
		transition-timing-function: $es;
	}
	&::after,&::before {
		content: '';
		display: block;
		transform-origin: right top;
	}
	&::before {
		top: 0;
		transition: transform $as, top $as;
	}
	&::after {
		bottom: 0;
		transition: transform $as, bottom $as;
	}
	span {
		top: 50%;
		transform: translateY(-50%);
		transition: transform $as;
	}

	&.active {
		&::before {
			top: 1px;
			transform: rotate(-45deg);
		}
		&::after {
			bottom: 1px;
			transform: rotate(45deg) translateX(1px);
		}
		span {
			transform: translateY(-50%) scale(0);
		}
	}
}
.cart-link {
	img {
		display: block;
		transition: transform $as $es;
		&:hover {
			transform: scale(1.1);
		}
	}
}

@media screen and (max-width: 1250px){
	.header {
		.logo {
			font-size: 28px;
		}
		&__item {
			margin: 0 26px 0 0;
			a {
				font-size: 16px;
			}
		}
		.btn {
			padding: 10px 28px;
		}
	}
}
@media screen and (max-width: $md2){
	.nav {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		align-items: flex-start;
		justify-content: center;
		padding: $mm $mm 40px !important;
		flex-direction: column;
		background-color: rgba(#000,.6);
		transition: top $as $es;

		&.active {
			top: 0;
		}
	}
	.nav {
		&__inner {
			margin: 130px 0 0;
			overflow: auto;
		}
	}
	.header {
		&__list {
			flex-direction: column;
		}
		&__item {
			margin: 0 0 20px;
			a {
				font-size: 24px;
				text-transform: capitalize;
			}
		}
		&__column {
			z-index: 100;
		}
	}
	.burger {
		display: block;
		z-index: 100;
	}
}

.page {
	position: relative;
	height: 100vh;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	&__bgi {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background-image: url("../image/page/page-bg.jpg");
		z-index: 1;
	}

	&__content {
		position: relative;
		text-align: center;
		z-index: 5;
	}

	&__title {
		h1 {
			color: #fff;
			font-size: 160px;
			font-weight: 700;
			letter-spacing: 4px;
		}
	}

	&__subtitle {
		color: #fff;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 0.45px;
		margin: 0 0 56px;
	}

	&__link-block {
	}

	&__link {
		width: 220px;
		margin: 0 auto;
	}
}